{{ define "bespokecss" }}
{{ partial "head/css.html" (dict "filename" "css/list.css") }}
{{ end }}

{{ define "main" }}
<h2 class='term-type'>{{ .Data.Singular }}</h2>
<h1 class="page-title">{{ .Title }}</h1>
{{ .Content }}
{{ $count := 0 }}
{{ range .Pages }}
<article class="post-stub {{ $.Data.Singular }}">
  {{ if ne $.Data.Singular "series" }}
  <time class="date" datetime='{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}'>
    {{ .Date | time.Format "Jan 02, 2006" }}
  </time>
  {{ else }}
  {{ $count = add $count 1 }}
  <span class="part"><strong>PART {{ $count }}:</strong></span>
  {{ end }}
  <h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <div class="summary">
    {{ .Summary }}
  </div>
</article>
{{ end }}
{{ end }}
