/* file shortcode styling */
.file {
    border: var(--border-thickness) solid var(--greyscale-8);
    border-radius: 0.5rem;
    margin: var(--line-height) 0;

    pre,
    > * {
        margin: 0;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    > .filename {
        font-size: 0.9rem;
        padding-left: 1ch;
    }
}

/* tree shortcode styling */
.tree, .tree ul {
    position: relative;
    padding-left: 0;
    list-style-type: none;
    line-height: var(--line-height);
}
.tree ul {
    margin: 0;
}
.tree ul li {
    position: relative;
    padding-left: 1.5ch;
    margin-left: 1.5ch;
    border-left: var(--border-thickness) solid var(--text-color);
}
.tree ul li:before {
    position: absolute;
    display: block;
    top: calc(var(--line-height) / 2);
    left: 0;
    content: "";
    width: 1ch;
    border-bottom: var(--border-thickness) solid var(--text-color);
}
.tree ul li:last-child {
    border-left: none;
}
.tree ul li:last-child:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    height: calc(var(--line-height) / 2);
    border-left: var(--border-thickness) solid var(--text-color);
} 