{{- define "main" }}
<div class="not-found" style="width:min-content;margin-top:calc(4 * var(--line-height));margin-inline:auto">
<pre>
██╗  ██╗    ██████╗    ██╗  ██╗
██║  ██║   ██╔═████╗   ██║  ██║
███████║   ██║██╔██║   ███████║
╚════██║   ████╔╝██║   ╚════██║
     ██║   ╚██████╔╝        ██║
     ╚═╝    ╚═════╝         ╚═╝
</pre>
<h1 style="margin-bottom:0;text-align:center">File not found</h1>
<h2 style="margin-top:0;text-align:center">The page you are looking for does not exist.</h2>
</div>
{{- end }}{{/* end main */ -}}